@font-face {
    font-family: 'Gotham Rounded';
    src: url('../fonts/GothamRounded-Book.otf');
    src: url('../fonts/GothamRoundedBook_21018.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Rounded';
    src: url('../fonts/GothamRounded-Medium.otf');
    src: url('../fonts/GothamRoundedMedium_21022.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Rounded';
    src: url(../fonts/GothamRounded-Bold.otf);
    src: url(../fonts/GothamRoundedBold_21016.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

.nav__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav__link {
    text-decoration: none;
    color: inherit;
}

.button {
    display: inline-block;
    padding: 18px 45px;
    background-color: #16a085;
    text-transform: uppercase;
    font-size: 0.75rem;
    border-radius: 3px;
    letter-spacing: 1.8px;
    color: white;
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h1,
h2 {
    text-transform: uppercase;
    font-weight: bold;
}

body {
    font-family: 'Gotham Rounded';
    font-size: 1rem;
}

header {
    width: 100%;
    padding: 20px 0;
    background: url('../images/bg_header.jpg') no-repeat;
    background-size: cover;
    color: #fff;
}

.nav {
    width: 60%;
    margin: 0 auto 190px;
    padding: 35px 0;
}

.nav__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__item {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2.4px;
    font-size: 1rem;
    flex: none;
}

.nav__link--logo {
    margin: 0 40px;
    display: inline-block;
    background: url('../images/logo.png') no-repeat center center;
    background-size: contain;
    height: 55px;
    width: 53px;
    transform: translateY(-10px);
}

.hero {
    width: 100%;
    text-align: center;
    margin-bottom: 220px;
}

.hero-body {
    width: 55%;
    margin: 0 auto;
}

.hero__title {
    letter-spacing: 5.4px;
    margin-bottom: 7px;
    font-size: 2.25rem;
}

.hero__text {
    letter-spacing: 2.4px;
    text-transform: lowercase;
    font-size: 1rem;
    margin-bottom: 25px;
}

.button--large {
    padding: 19px 30px;
}

.nav__list--centered {
    justify-content: center;
}

.fab {
    margin-right: 1rem;
    font-size: 1.5rem;
}

.fab:last-child {
    margin-right: 0;
}

.about {
    background: url(../images/bg_about.jpg) no-repeat;
    background-size: cover;
    padding: 110px 0 90px;
}

.about-body {
    max-width: calc(100% - 576px);
}

.about-title {
    margin: 0 0 40px 0;
    font-size: 1.125rem;
    color: #16a085;
    letter-spacing: 2.7px;
}

.about-text {
    font-size: 0.75rem;
    font-weight: normal;
    letter-spacing: 1.8px;
    line-height: 1.5rem;
    margin: 0 0 47px 0;
}

.about-text b {
    font-weight: bold;
}

.design {
    background: url(../images/bg_design.jpg) no-repeat;
    background-size: cover;
    padding: 145px 0 80px;
}

.design-body {
    margin-left: 62%;
    max-width: calc(100% - 576px);
}

.design-title {
    margin: 0 0 33px 0;
    font-size: 1.125rem;
    color: #16a085;
    letter-spacing: 2.7px;
}

.design-text {
    font-size: 0.75rem;
    font-weight: normal;
    letter-spacing: 1.8px;
    line-height: 22px;
    margin: 0 0 35px 0;
}

.design-text b {
    font-weight: bold;
}

.design .button {
    margin-bottom: 40px;
}

.design .date {
    display: block;
    font-size: 0.75rem;
    font-weight: bold;
    letter-spacing: 1.8px;
    line-height: 1.5rem;
}

.design .date-nav {
    font-size: 1.75rem;
    /* padding: 5px 0; */
    cursor: pointer;
}

.design .date-nav.angle-left {
    content: url('../images/icon_angle-left.png');
    margin-right: 15px;
}

.design .date-nav.angle-right {
    content: url('../images/icon_angle-right.png');
}

.community {
    background-color: #f5f6f7;
    padding: 120px 0;
}

.community>.container {
    display: flex;
    flex-flow: row nowrap;
    text-align: center;
}

.community-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 0 18%;
    margin-right: 70px;
}

.community-logo {
    margin: 5px 0 25px;
}

.community-title {
    color: #373737;
    font-size: 1rem;
    letter-spacing: 2.4px;
    line-height: 1.25;
    margin: 0 0 20px 0;
}

.community-text {
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 1.5px;
    padding: 0 18px;
    line-height: 1.25;
}

.community-images {
    display: flex;
    flex-flow: row nowrap;
}

.community-images img {
    margin-right: 24px;
}

.community .community-images img:last-child {
    margin-right: 0;
}

.subscribe {
    background: url('../images/bg_subscribe.jpg') no-repeat;
    background-size: cover;
    padding: 350px 0 325px;

}

.subscribe-body {
    width: 40%;
    text-align: center;
    color: white;
    margin: 0 auto;
    font-size: 0;
}

.subscribe-title {
    font-size: 1.5rem;
    letter-spacing: 3.6px;
    margin: 0 0 27px 0;
}

.subscribe .email {
    display: flex;
    justify-content: center;
    align-content: stretch;
    width: 75%;
    margin: 0 auto;
    padding: 0 20px;
}

.subscribe .email-field {
    text-transform: uppercase;
    color: #373737;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 2.4px;
    background: white;
    border-radius: 3px 0 0 3px;
    padding: 21px 0 0 22px;
    flex: 1 0 auto;
    text-align: left;
}

.subscribe .email .button {
    padding: 18px;
    border-radius: 0 3px 3px 0;
    font-size: 1.25rem;
    flex: 0 0 63px;
}

.download {
    background-color: #f5f6f7;
    padding: 90px 0 115px;
}

.download-container {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding: 0;
}

.download-title {
    font-size: 1.25rem;
    letter-spacing: 3px;
    color: #373737;
    margin: 0 0 5px;
}

.download-text {
    font-size: 0.75rem;
    font-weight: 500;
    letter-spacing: 1.8px;
    line-height: 22px;
    margin: 0 0 40px;
    text-transform: uppercase;
}

.download-links {
    display: flex;
    width: 72%;
    margin: 0 auto;
    justify-content: space-between;
    padding: 0 15px;
}

.download-links>.link {
    display: flex;
    margin-right: 25px;
    align-items: center;
    flex: auto;
}

.download-links>.link:last-child {
    margin-right: 0;
}

.download-links .link .button {
    text-align: left;
    border-radius: 3px 0 0 3px;
    background-color: #1abc9c;
    padding: 19px 0 19px 25px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2.4px;
    flex: auto;
}

.download-links .link .logo {
    border-radius: 0 3px 3px 0;
    background-color: #16a085;
    font-size: 1.75rem;
    padding: 12px;
    color: white;
    flex: 0 0 60px;
}

.footer {
    padding: 40px 0;
}

.footer>.container {
    display: flex;
    align-items: center;
}

.footer-body {
    display: flex;
    align-content: flex-start;
    flex-flow: wrap row;
}

.footnav {
    flex: 0 0 100%;
    margin-bottom: 20px;
}

.footnav ul {
    display: flex;
}

.footnav a {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #373737;
    letter-spacing: 2.1px;
}

.footnav li {
    display: flex;
    align-items: center;
}

.footnav li::after {
    content: '|';
    color: #16a085;
    margin: 0 5px;
    letter-spacing: 2.1px;
}

.footnav li:last-child::after {
    content: '';
}

.footer-body .copyright {
    font-size: 14px;
    font-weight: 700;
    color: #373737;
    letter-spacing: 2.1px;
}

.footer .logo {
    margin-left: auto;
}